USE [QuanLyNganHangDeThi]
GO
/****** Object:  StoredProcedure [dbo].[Update_DeBai]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[Update_DeBai]
GO
/****** Object:  StoredProcedure [dbo].[Update_DapAn]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[Update_DapAn]
GO
/****** Object:  StoredProcedure [dbo].[UpDate_CauHoi]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[UpDate_CauHoi]
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaNV]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[sp_XoaNV]
GO
/****** Object:  StoredProcedure [dbo].[sp_TTNV]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[sp_TTNV]
GO
/****** Object:  StoredProcedure [dbo].[sp_TTDA]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[sp_TTDA]
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemNV]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[sp_ThemNV]
GO
/****** Object:  StoredProcedure [dbo].[sp_taoTKTS]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[sp_taoTKTS]
GO
/****** Object:  StoredProcedure [dbo].[sp_taoTKNV]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[sp_taoTKNV]
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoDeThi]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[sp_TaoDeThi]
GO
/****** Object:  StoredProcedure [dbo].[sp_TaiKhoanTS]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[sp_TaiKhoanTS]
GO
/****** Object:  StoredProcedure [dbo].[sp_TaiKhoanNV]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[sp_TaiKhoanNV]
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaTK]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[sp_SuaTK]
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaNV]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[sp_SuaNV]
GO
/****** Object:  StoredProcedure [dbo].[sp_HienThiTS]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[sp_HienThiTS]
GO
/****** Object:  StoredProcedure [dbo].[sp_HienThiNV]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[sp_HienThiNV]
GO
/****** Object:  StoredProcedure [dbo].[sp_DapAn_Cau_a_De_b]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[sp_DapAn_Cau_a_De_b]
GO
/****** Object:  StoredProcedure [dbo].[sp_Cau_a_De_b]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[sp_Cau_a_De_b]
GO
/****** Object:  StoredProcedure [dbo].[insert_DeBai]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[insert_DeBai]
GO
/****** Object:  StoredProcedure [dbo].[Insert_DapAn]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[Insert_DapAn]
GO
/****** Object:  StoredProcedure [dbo].[Get_DeBai]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[Get_DeBai]
GO
/****** Object:  StoredProcedure [dbo].[Get_DapAn]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[Get_DapAn]
GO
/****** Object:  StoredProcedure [dbo].[Get_CauHoi]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[Get_CauHoi]
GO
/****** Object:  StoredProcedure [dbo].[Delete_DeBai]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[Delete_DeBai]
GO
/****** Object:  StoredProcedure [dbo].[Delete_DapAn]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[Delete_DapAn]
GO
/****** Object:  StoredProcedure [dbo].[Delete_CauHoi]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[Delete_CauHoi]
GO
/****** Object:  StoredProcedure [dbo].[CauHoi_Insert]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP PROCEDURE [dbo].[CauHoi_Insert]
GO
ALTER TABLE [dbo].[TTTraLoi] DROP CONSTRAINT [FK_TTTraLoi_PhieuThi]
GO
ALTER TABLE [dbo].[TTTraLoi] DROP CONSTRAINT [FK_TTTraLoi_CauHoi]
GO
ALTER TABLE [dbo].[TaiKhoan] DROP CONSTRAINT [FK_TaiKhoan_ThiSinh1]
GO
ALTER TABLE [dbo].[TaiKhoan] DROP CONSTRAINT [FK_TaiKhoan_ThiSinh]
GO
ALTER TABLE [dbo].[TaiKhoan] DROP CONSTRAINT [FK_TaiKhoan_Quyen]
GO
ALTER TABLE [dbo].[TaiKhoan] DROP CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[PhieuThi] DROP CONSTRAINT [FK_PhieuThi_ThiSinh]
GO
ALTER TABLE [dbo].[PhieuThi] DROP CONSTRAINT [FK_PhieuThi_DeBai]
GO
ALTER TABLE [dbo].[PhieuDiem] DROP CONSTRAINT [FK_PhieuDiem_ThiSinh]
GO
ALTER TABLE [dbo].[PhieuDiem] DROP CONSTRAINT [FK_PhieuDiem_DeBai]
GO
ALTER TABLE [dbo].[DapAn] DROP CONSTRAINT [FK_DapAn_DeBai]
GO
ALTER TABLE [dbo].[DapAn] DROP CONSTRAINT [FK_DapAn_CauHoi]
GO
ALTER TABLE [dbo].[CauHoi] DROP CONSTRAINT [FK_CauHoi_DeBai]
GO
/****** Object:  Table [dbo].[TTTraLoi]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP TABLE [dbo].[TTTraLoi]
GO
/****** Object:  Table [dbo].[ThiSinh]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP TABLE [dbo].[ThiSinh]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP TABLE [dbo].[TaiKhoan]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP TABLE [dbo].[Quyen]
GO
/****** Object:  Table [dbo].[PhieuThi]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP TABLE [dbo].[PhieuThi]
GO
/****** Object:  Table [dbo].[PhieuDiem]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP TABLE [dbo].[PhieuDiem]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP TABLE [dbo].[NhanVien]
GO
/****** Object:  Table [dbo].[DeBai]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP TABLE [dbo].[DeBai]
GO
/****** Object:  Table [dbo].[DapAn]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP TABLE [dbo].[DapAn]
GO
/****** Object:  Table [dbo].[CauHoi]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP TABLE [dbo].[CauHoi]
GO
USE [master]
GO
/****** Object:  Database [QuanLyNganHangDeThi]    Script Date: 6/6/2018 10:36:21 AM ******/
DROP DATABASE [QuanLyNganHangDeThi]
GO
/****** Object:  Database [QuanLyNganHangDeThi]    Script Date: 6/6/2018 10:36:21 AM ******/
CREATE DATABASE [QuanLyNganHangDeThi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNganHangDeThi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyNganHangDeThi1.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyNganHangDeThi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyNganHangDeThi_log1.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNganHangDeThi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNganHangDeThi]
GO
/****** Object:  Table [dbo].[CauHoi]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoi](
	[MaCauHoi] [nvarchar](10) NOT NULL,
	[NDCauHoi] [nvarchar](350) NULL,
	[MaDe] [nvarchar](10) NULL,
 CONSTRAINT [PK_CauHoi] PRIMARY KEY CLUSTERED 
(
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DapAn]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DapAn](
	[MaDA] [nvarchar](10) NOT NULL,
	[NDDA] [nvarchar](350) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[MaCauHoi] [nvarchar](10) NULL,
	[MaDe] [nvarchar](10) NULL,
 CONSTRAINT [PK_DapAn] PRIMARY KEY CLUSTERED 
(
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DeBai]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeBai](
	[MaDe] [nvarchar](10) NOT NULL,
	[TenDe] [nvarchar](50) NULL,
	[GhiChu] [int] NULL,
 CONSTRAINT [PK_DeBai] PRIMARY KEY CLUSTERED 
(
	[MaDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](350) NULL,
	[SDT] [varchar](11) NULL,
	[NgaySinh] [date] NULL,
	[GhiChu] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuDiem]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDiem](
	[MaPhieu] [nvarchar](10) NOT NULL,
	[Diem] [float] NULL,
	[MaTS] [nvarchar](10) NULL,
	[MaDe] [nvarchar](10) NULL,
 CONSTRAINT [PK_PhieuDiem] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuThi]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThi](
	[MaPhieu] [nvarchar](10) NOT NULL,
	[MaTs] [nvarchar](10) NULL,
	[MaDe] [nvarchar](10) NULL,
 CONSTRAINT [PK_PhieuThi] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [nvarchar](10) NOT NULL,
	[TenQuyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenTK] [varchar](50) NOT NULL,
	[MK] [varchar](50) NULL,
	[MaQuyen] [nvarchar](10) NULL,
	[MaNV] [nvarchar](10) NULL,
	[MaTS] [nvarchar](10) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThiSinh]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThiSinh](
	[MaTS] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](350) NULL,
	[NgaySinh] [date] NULL,
	[Truong] [nvarchar](350) NULL,
	[Lop] [nvarchar](50) NULL,
	[GhiChu] [int] NULL,
 CONSTRAINT [PK_ThiSinh] PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TTTraLoi]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTTraLoi](
	[MaPhieu] [nvarchar](10) NOT NULL,
	[MaCauHoi] [nvarchar](10) NOT NULL,
	[DapAn] [nvarchar](350) NULL,
 CONSTRAINT [PK_TTTraLoi] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC,
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CauHoi] ([MaCauHoi], [NDCauHoi], [MaDe]) VALUES (N'Cau1', N'Câu nào sau đây không phải là mệnh đề ?', N'De1')
INSERT [dbo].[CauHoi] ([MaCauHoi], [NDCauHoi], [MaDe]) VALUES (N'Cau10', N'cho hàm số f(x)=2X và g(x)=4X^2+1,với X thuộc R Khi đó gof(-2) bằng :', N'De1')
INSERT [dbo].[CauHoi] ([MaCauHoi], [NDCauHoi], [MaDe]) VALUES (N'Cau11', N'Có bao nhiêu xâu nhị phân có độ dài bằng 5 mà hoặc có 2 bít đầu tiên là 0 hoặc có 2 bít cuối cùng là 1?', N'De2')
INSERT [dbo].[DapAn] ([MaDA], [NDDA], [GhiChu], [MaCauHoi], [MaDe]) VALUES (N'DA1', N'Hôm nay không phải thứ hai.', N'0', N'Cau1', N'De1')
INSERT [dbo].[DapAn] ([MaDA], [NDDA], [GhiChu], [MaCauHoi], [MaDe]) VALUES (N'DA10', N'không xác định được', N'0', N'Cau3', N'De1')
INSERT [dbo].[DapAn] ([MaDA], [NDDA], [GhiChu], [MaCauHoi], [MaDe]) VALUES (N'DA100', N'Chưa nhập', N'0', N'Cau25', N'De3')
GO
INSERT [dbo].[DeBai] ([MaDe], [TenDe], [GhiChu]) VALUES (N'De1', N'đề số 1 năm 2018', 1)
INSERT [dbo].[DeBai] ([MaDe], [TenDe], [GhiChu]) VALUES (N'De2', N'đề số 2 năm 2018', 1)
INSERT [dbo].[DeBai] ([MaDe], [TenDe], [GhiChu]) VALUES (N'De3', N'đề số 3', 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [DiaChi], [SDT], [NgaySinh], [GhiChu]) VALUES (N'NV1', N'Nguyễn Đức Trường', N'Hà Nam', N'0962129031', CAST(N'1996-03-29' AS Date), 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [DiaChi], [SDT], [NgaySinh], [GhiChu]) VALUES (N'NV2', N'Hoàng Đình Cường', N'Thanh Hóa', N'12345465', CAST(N'1996-01-01' AS Date), 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [DiaChi], [SDT], [NgaySinh], [GhiChu]) VALUES (N'NV3', N'Trường', N'Nghệ An', N'548465153', CAST(N'1996-01-01' AS Date), 1)
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (N'Quyen1', N'Thí sinh')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (N'Quyen2', N'quản lý chung')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (N'Quyen3', N'admin')
INSERT [dbo].[TaiKhoan] ([TenTK], [MK], [MaQuyen], [MaNV], [MaTS]) VALUES (N'Cuong', N'123', N'Quyen3', N'NV2', NULL)
INSERT [dbo].[TaiKhoan] ([TenTK], [MK], [MaQuyen], [MaNV], [MaTS]) VALUES (N'Dat', N'123', N'Quyen3', N'NV4', NULL)
INSERT [dbo].[TaiKhoan] ([TenTK], [MK], [MaQuyen], [MaNV], [MaTS]) VALUES (N'Hien', N'123', N'Quyen1', NULL, N'TS1')
INSERT [dbo].[ThiSinh] ([MaTS], [HoTen], [DiaChi], [NgaySinh], [Truong], [Lop], [GhiChu]) VALUES (N'TS1', N'Nguyễn Thị Hiền', N'Hà Nam', CAST(N'1996-01-01' AS Date), N'MTA', N'TH13B', 1)
INSERT [dbo].[ThiSinh] ([MaTS], [HoTen], [DiaChi], [NgaySinh], [Truong], [Lop], [GhiChu]) VALUES (N'TS2', N'Nguyễn Thu Trang', N'Hà Nội', CAST(N'1996-01-01' AS Date), N'MTA', N'TH13B', 1)
ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_CauHoi_DeBai] FOREIGN KEY([MaDe])
REFERENCES [dbo].[DeBai] ([MaDe])
GO
ALTER TABLE [dbo].[CauHoi] CHECK CONSTRAINT [FK_CauHoi_DeBai]
GO
ALTER TABLE [dbo].[DapAn]  WITH CHECK ADD  CONSTRAINT [FK_DapAn_CauHoi] FOREIGN KEY([MaCauHoi])
REFERENCES [dbo].[CauHoi] ([MaCauHoi])
GO
ALTER TABLE [dbo].[DapAn] CHECK CONSTRAINT [FK_DapAn_CauHoi]
GO
ALTER TABLE [dbo].[DapAn]  WITH CHECK ADD  CONSTRAINT [FK_DapAn_DeBai] FOREIGN KEY([MaDe])
REFERENCES [dbo].[DeBai] ([MaDe])
GO
ALTER TABLE [dbo].[DapAn] CHECK CONSTRAINT [FK_DapAn_DeBai]
GO
ALTER TABLE [dbo].[PhieuDiem]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDiem_DeBai] FOREIGN KEY([MaDe])
REFERENCES [dbo].[DeBai] ([MaDe])
GO
ALTER TABLE [dbo].[PhieuDiem] CHECK CONSTRAINT [FK_PhieuDiem_DeBai]
GO
ALTER TABLE [dbo].[PhieuDiem]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDiem_ThiSinh] FOREIGN KEY([MaTS])
REFERENCES [dbo].[ThiSinh] ([MaTS])
GO
ALTER TABLE [dbo].[PhieuDiem] CHECK CONSTRAINT [FK_PhieuDiem_ThiSinh]
GO
ALTER TABLE [dbo].[PhieuThi]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThi_DeBai] FOREIGN KEY([MaDe])
REFERENCES [dbo].[DeBai] ([MaDe])
GO
ALTER TABLE [dbo].[PhieuThi] CHECK CONSTRAINT [FK_PhieuThi_DeBai]
GO
ALTER TABLE [dbo].[PhieuThi]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThi_ThiSinh] FOREIGN KEY([MaTs])
REFERENCES [dbo].[ThiSinh] ([MaTS])
GO
ALTER TABLE [dbo].[PhieuThi] CHECK CONSTRAINT [FK_PhieuThi_ThiSinh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_Quyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_Quyen]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_ThiSinh] FOREIGN KEY([MaTS])
REFERENCES [dbo].[ThiSinh] ([MaTS])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_ThiSinh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_ThiSinh1] FOREIGN KEY([MaTS])
REFERENCES [dbo].[ThiSinh] ([MaTS])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_ThiSinh1]
GO
ALTER TABLE [dbo].[TTTraLoi]  WITH CHECK ADD  CONSTRAINT [FK_TTTraLoi_CauHoi] FOREIGN KEY([MaCauHoi])
REFERENCES [dbo].[CauHoi] ([MaCauHoi])
GO
ALTER TABLE [dbo].[TTTraLoi] CHECK CONSTRAINT [FK_TTTraLoi_CauHoi]
GO
ALTER TABLE [dbo].[TTTraLoi]  WITH CHECK ADD  CONSTRAINT [FK_TTTraLoi_PhieuThi] FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[PhieuThi] ([MaPhieu])
GO
ALTER TABLE [dbo].[TTTraLoi] CHECK CONSTRAINT [FK_TTTraLoi_PhieuThi]
GO
/****** Object:  StoredProcedure [dbo].[CauHoi_Insert]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc	[dbo].[CauHoi_Insert]
@MaCauHoi nvarchar(10),
@NDCauHoi nvarchar(350),
@MaDe nvarchar(10)
as 
begin 
	insert into CauHoi (MaCauHoi, MaDe, NDCauHoi)
	values (
			@MaCauHoi,
			@MaDe,
			@NDCauHoi
			)
end 
GO
/****** Object:  StoredProcedure [dbo].[Delete_CauHoi]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Delete_CauHoi]
@key nvarchar(10)
as
begin
	Delete CauHoi 
	where MaCauHoi = @key
end
GO
/****** Object:  StoredProcedure [dbo].[Delete_DapAn]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Delete_DapAn]
@MaDa nvarchar(10)
as
begin
	delete DapAn where MaDA = @MaDa
	end
GO
/****** Object:  StoredProcedure [dbo].[Delete_DeBai]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Delete_DeBai]
@MaDe nvarchar(10)
as
begin
	delete DeBai
	where MaDe = @MaDe
end
GO
/****** Object:  StoredProcedure [dbo].[Get_CauHoi]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Get_CauHoi]
as 
begin 
	select * from CauHoi
end 
GO
/****** Object:  StoredProcedure [dbo].[Get_DapAn]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Get_DapAn]
as
begin
	select * from DapAn
end
GO
/****** Object:  StoredProcedure [dbo].[Get_DeBai]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Get_DeBai]
as
begin
	select * from DeBai
end
GO
/****** Object:  StoredProcedure [dbo].[Insert_DapAn]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_DapAn]
@MaDa nvarchar(10),
@NDDA  nvarchar(350),
@GhiChu nvarchar(50),
@MaCauHoi nvarchar(10),
@MaDe nvarchar(10)
as
begin
	insert into DapAn values (@MaDa, @NDDA, @GhiChu, @MaCauHoi, @MaDe)
end
GO
/****** Object:  StoredProcedure [dbo].[insert_DeBai]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insert_DeBai]
@MaDe nvarchar(10),
@TenDe nvarchar(50)
as
begin
	insert into DeBai values (@MaDe, @TenDe)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Cau_a_De_b]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Cau_a_De_b] (@a nvarchar(10),@b nvarchar(10))
as
begin
	declare @cau nvarchar(10),@de int,@k int
	set @de=CONVERT(int,substring(@b,3,len(@b)-2))*10-10
	set @k=CONVERT(int,SUBSTRING(@a,4,len(@a)-3))+@de
	set @cau='Cau'+CONVERT(nvarchar(10),@k)
	select NDCauHoi from CauHoi
	where MaCauHoi=@cau and MaDe=@b
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DapAn_Cau_a_De_b]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_DapAn_Cau_a_De_b] (@a nvarchar(10),@b nvarchar(10))
as
begin
declare @cau nvarchar(10),@de int,@k int
	set @de=CONVERT(int,substring(@b,3,len(@b)-2))*10-10
	set @k=CONVERT(int,SUBSTRING(@a,4,len(@a)-3))+@de
	set @cau='Cau'+CONVERT(nvarchar(10),@k)

	select NDDA from DapAn
	where MaCauHoi=@cau and MaDe=@b
end
GO
/****** Object:  StoredProcedure [dbo].[sp_HienThiNV]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_HienThiNV]
as
begin
	select a.MaNV from NhanVien a
	where a.MaNV not in(
	select b.MaNV from NhanVien b
	where b.MaNV in(
	select c.MaNV from TaiKhoan c where c.MaNV is not null))
end
GO
/****** Object:  StoredProcedure [dbo].[sp_HienThiTS]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_HienThiTS]
as
begin
	select a.MaTS from ThiSinh a
	where a.MaTS not in(
	select b.MaTS from ThiSinh b
	where b.MaTS in(
	select c.MaTS from TaiKhoan c
	where c.MaTS is not NULL))
end
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaNV]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_SuaNV] (@MaNV nvarchar(10),@Ten nvarchar(50),@DC nvarchar(350),@SDT varchar(11),@NS date,@ChucVu nvarchar(50))
as
begin
	declare @MaQuyen nvarchar(10)
	select @MaQuyen=a.MaQuyen from Quyen a
	where a.TenQuyen=@ChucVu

	update NhanVien
	set HoTen=@Ten,
	DiaChi=@DC,
	SDT=@SDT,
	NgaySinh=@NS
	where MaNV=@MaNV

	update TaiKhoan
	set MaQuyen=@MaQuyen
	where MaNV=@MaNV and MaNV is not NULL
end
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaTK]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_SuaTK] (@MK nvarchar(50),@TK nvarchar(50))
as
begin
	update TaiKhoan
	set MK=@MK
	where TenTK=@TK
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TaiKhoanNV]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_TaiKhoanNV]
as
begin
select b.MaNV as N'Mã nhân viên',b.HoTen as N'Tên nhân viên',a.TenTK as N'Tài khoản',a.MK as N'Mật khẩu' from TaiKhoan a
join NhanVien b on b.MaNV=a.MaNV
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TaiKhoanTS]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_TaiKhoanTS]
as 
begin
	select b.MaTS as N'Mã thí sinh',b.HoTen as N'Tên thí sinh',a.TenTK as N'Tài khoản',a.MK as N'Mật khẩu' from TaiKhoan a
	join ThiSinh b on a.MaTS=b.MaTS
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoDeThi]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_TaoDeThi] (@TenDe nvarchar(50))
as
begin
	declare @MaDe nvarchar(10),@k int,@tam int
	set @k=(select top 1 CONVERT(int,substring(a.MaDe,3,LEN(a.MaDe)-2)) from DeBai a order by 1 desc)
	select @MaDe='De'+convert(nvarchar(10),@k+1)
	insert into DeBai
	values(@MaDe,@TenDe,1)
	set @tam=0
	while @tam!=10
	begin
	insert into CauHoi
	values('Cau'+CONVERT(nvarchar(10),@k*10+@tam+1),N'Chưa nhập',@MaDe)

	insert into DapAn
	values('DA'+convert(nvarchar(10),(@k*10+@tam)*4+1),N'Chưa nhập','0','Cau'+CONVERT(nvarchar(10),@k*10+@tam+1),@MaDe),
	('DA'+convert(nvarchar(10),(@k*10+@tam)*4+2),N'Chưa nhập','0','Cau'+CONVERT(nvarchar(10),@k*10+@tam+1),@MaDe),
	('DA'+convert(nvarchar(10),(@k*10+@tam)*4+3),N'Chưa nhập','0','Cau'+CONVERT(nvarchar(10),@k*10+@tam+1),@MaDe),
	('DA'+convert(nvarchar(10),(@k*10+@tam+1)*4),N'Chưa nhập','0','Cau'+CONVERT(nvarchar(10),@k*10+@tam+1),@MaDe)
	set @Tam=@tam+1
	end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_taoTKNV]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_taoTKNV] (@MaNV nvarchar(10),@TK nvarchar(50),@MK nvarchar(50))
as
begin
	insert into TaiKhoan
	values(@TK,@MK,'Quyen2',@MaNV,NULL)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_taoTKTS]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_taoTKTS] (@MaTS nvarchar(10),@TK nvarchar(50),@MK nvarchar(50))
as
begin
	insert into TaiKhoan
	values(@TK,@MK,'Quyen1',NULL,@MaTS)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemNV]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ThemNV] (@Ten nvarchar(50),@DC nvarchar(350),@SDT varchar(11),@NS date,@ChucVu nvarchar(50))
as
begin
	declare @MaQuyen nvarchar(10)
	select @MaQuyen=a.MaQuyen from Quyen a
	where a.TenQuyen=@ChucVu

	if exists(select * from NhanVien a where a.DiaChi=@DC and a.GhiChu=0 and a.HoTen=@Ten and a.NgaySinh=@NS and a.SDT=@SDT)
	begin
		update NhanVien
		set GhiChu=1
		where DiaChi=@DC and HoTen=@Ten and NgaySinh=@NS and SDT=@SDT

		update TaiKhoan
		set MaQuyen=@MaQuyen
		where MaNV in
		(select MaNV from NhanVien
		where DiaChi=@DC and HoTen=@Ten and NgaySinh=@NS and SDT=@SDT)
	end
	else
	begin
		declare @tam nvarchar(10),@k int
			select @k=(select top 1 convert(int,SUBSTRING(a.MaNV,3,LEN(a.MaNV)-2)) from NhanVien a order by 1 desc)
			select @tam= 'NV'+convert(nvarchar(10),@k+1)

			insert into NhanVien
			values(@tam,@Ten,@DC,@SDT,@NS,1)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TTDA]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_TTDA] (@MaCau nvarchar(10))
as
begin
select a.NDDA from DapAn a
where a.MaCauHoi=@MaCau
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TTNV]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_TTNV]
as
begin
select a.MaNV as N'Mã nhân viên',a.HoTen as N'Tên nhân viên',a.DiaChi as N'Địa chỉ',a.SDT as N'Số điện thoại',a.NgaySinh as N'Ngay sinh',c.TenQuyen as N'Chức vụ' from NhanVien a
join TaiKhoan b on a.MaNV=b.MaNV and b.MaNV is not NULL
join Quyen c on c.MaQuyen=b.MaQuyen
where a.GhiChu=1
end
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaNV]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_XoaNV] (@Ma nvarchar(10))
as
begin
	update NhanVien
	set GhiChu=0
	where MaNV=@Ma
end
GO
/****** Object:  StoredProcedure [dbo].[UpDate_CauHoi]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpDate_CauHoi]
@MaCauHoi nvarchar(10),
@NDCauHoi nvarchar(350)

as
begin
	update CauHoi 
	set  NDCauHoi = @NDCauHoi
	where MaCauHoi = @MaCauHoi
end
GO
/****** Object:  StoredProcedure [dbo].[Update_DapAn]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Update_DapAn]
@MaDa nvarchar(10),
@NDDA  nvarchar(350),
@GhiChu nvarchar(50)
as
begin
	update DapAn
	set NDDA = @NDDA, GhiChu = @GhiChu
	where MaDA = @MaDa
end
GO
/****** Object:  StoredProcedure [dbo].[Update_DeBai]    Script Date: 6/6/2018 10:36:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_DeBai]
@MaDe nvarchar(10),
@TenDe nvarchar(50)
as
begin
	update DeBai
	set TenDe = @TenDe
	where MaDe = @MaDe
end
GO
USE [master]
GO
